<% provide(:title, "Employees") %>
<h1>Employees</h1>
<table class="item-table">
  <tr>
    <th>Employee ID</th>
    <th>Name</th>
  </tr>
   <% @employees.each do |employee| %>
    <tr>
      <td><a><%= link_to employee.id, employee %></a></td>
      <td><a></a><%= link_to employee.name, employee %></a></td>
    </tr>
  <% end %>
</table>
<div class=sales-sum-text><%= "Total sales revenue: " + @sales_sum.to_s %></div>
