<% provide(:title, @employee.name) %>
<h3>Employee</h3>
<div class="profile-card">
  <%=image_tag("default_person.png", alt: "Employee", width: 100)%>
  <h1><%= @employee.name %></h1>
  <p class="profile-title">User</p>
  <p><%= "Revenue: " +  (@employee != nil ? @employee.has_sold_for.to_s : "") %></p>
</div>

<h1>Sales </h1>
<table class="item-table">
  <tr>
    <th>Model ID</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Price</th>
  </tr>
   <% @sales.pluck(:car_model_id).map {|id| CarModel.find(id)}.each do |sale| %>
    <tr>
      <td><%= sale.id %></td>
      <td><%= sale.brand %></td>
      <td><%= sale.model %></td>
      <td><%= sale.price %></td>
    </tr>
  <% end %>
</table>
<div class=sales-sum-text><%= "Sales revenue: " + @employee.has_sold_for.to_s %></div>