<% provide(:title, @user.name) %>

<h3>Profile</h3>
<div class="profile-card">
  <%=image_tag("default_person.png", alt: "User", width: 100)%>
  <h1><%= @user.name %></h1>
  <p class="profile-title">User</p>
  <p></p>
</div>

<h3> <%= @user.employee != nil ? "Your salesperson: " : "You have no associated salesperson" %></h3>
  
<% unless @user.employee == nil %>

<div class="profile-card">
  <%=image_tag("default_person.png", alt: "User", width: 100)%>
  <h1><%= @user.employee.name %></h1>
  <p class="profile-title">Employee</p>
  <p><%= "Revenue: " +  (@user.employee != nil ? @user.employee.has_sold_for.to_s : "") %></p>

  <p><button class="profile-button" onclick=<%= "location.href='/employees/" + @user.employee.id.to_s + "'" %>>Profile</button></p>
</div>
<% end %>