<% provide(:title, "Car Models") %>
<h1>Car Models</h1>

<table class="item-table">
  <tr>
    <th>Model ID</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Price</th>
    <th></th>
  </tr>
   <% @car_models.each do |car_model| %>
    <tr>
      <td><%=car_model.id %></td>
      <td><%=car_model.brand %></td>
      <td><%=car_model.model %></td>
      <td><%=car_model.price %></td>
      <td>   <%= link_to 'Delete Car', car_model, method: :delete,
                                     data: { confirm: 'This will permanently delete this care model. \n Are you sure?' } %> </td>
    </tr>
  <% end %>
</table>

<%= link_to "Add Car", add_car_path, class: "btn btn-block btn-primary" %>