<% provide(:title, 'Add Car Model') %>
<h1>Add Car Model</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@car_model) do |f| %>
      <%= render 'shared/error_messages', :obj => @car_model %>

      <%= f.label :brand %>
      <%= f.text_field :brand, class: 'form-control' %>
      
      <%= f.label :model %>
      <%= f.text_field :model, class: 'form-control' %>

      <%= f.label :price %>
      <%= f.number_field :price, class: 'form-control' %>

      <%= f.submit "Add Car Model", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>